<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491520970085-lrf3c157kmeadm8jeg1an9mggpq466ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491520970085-lrf3c157kmeadm8jeg1an9mggpq466ed</string>
	<key>API_KEY</key>
	<string>AIzaSyCzBQMOphjRX7r5F3Uzm6e4oqE2kVM1Chw</string>
	<key>GCM_SENDER_ID</key>
	<string>491520970085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shattir</string>
	<key>PROJECT_ID</key>
	<string>shatter-6c60a</string>
	<key>STORAGE_BUCKET</key>
	<string>shatter-6c60a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491520970085:ios:5c826a9702bd8e3c</string>
	<key>DATABASE_URL</key>
	<string>https://shatter-6c60a.firebaseio.com</string>
</dict>
</plist>